<nav class="navbar">

  <div class="navbar-container">

    <a
      class="brand"
      routerLink="/">

      <span class="brand-icon">
        I
      </span>

      <span>
        InternTrack
      </span>

    </a>


    <div class="nav-links">


      @if (isEmployer()) {

        <a
          routerLink="/employer-dashboard"
          routerLinkActive="active">

          Dashboard

        </a>

      }


      @if (currentUser) {

        <span class="user-name">

          {{ currentUser.name }}

        </span>


        <button
          class="logout-button"
          type="button"
          (click)="logout()">

          Logout

        </button>

      }


      @if (!currentUser) {

        <a
          routerLink="/login"
          class="login-link">

          Login

        </a>


        <a
          routerLink="/register"
          class="register-button">

          Register

        </a>

      }

    </div>

  </div>

</nav>