<nav class="navbar">

  <div class="navbar-container">

    <a
      class="brand"
      routerLink="/">

      <span class="brand-icon">
        I
      </span>

      <span>
        InternTrack
      </span>

    </a>

    <div class="nav-links">

      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">

        Find Internships

      </a>

      <a
        routerLink="/login"
        class="login-link">

        Login

      </a>

      <a
        routerLink="/register"
        class="register-button">

        Register

      </a>

    </div>

  </div>

</nav>